body {
  background-image: url('../img/bauges.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  font-family: Helvetica Neue, Arial, sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
}

header img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 20px;
}
